{cover_enabled, true}.
{cover_excl_mods, [jsonpath_lex, jpparse]}.

{ct_cover, true}.
{ct_verbose, true}.

{deps, [{cowboy, {git, "https://github.com/walter-weinmann/cowboy", {tag, "1.1.2"}}}]}.
{deps_error_on_conflict, true}.

{dialyzer_plt_location, local}.
{dialyzer_warnings, [error_handling,
    overspecs,
    race_conditions,
    specdiffs,
    underspecs,
    unknown,
    unmatched_returns
]}.

{edoc_opts, [{preprocess, true}]}.

{eunit_opts, [
    {skip_deps, true},
    verbose
]}.
